@import "tailwindcss";

@font-face {
  font-family: "FiraGO";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff)
      format("woff");
}

* {
  font-family: "FiraGO";
}
